@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 20% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 20% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 60% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 85%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 180 60% 50%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 80%;
    --input: 210 20% 80%;
    --ring: 210 60% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --primary: 210 60% 50%;
    --primary-foreground: 210 20% 98%;
    --accent: 180 60% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }
}

@layer utilities {
  @keyframes pulse-atrasado {
    0% { background-color: #fee2e2; }
    50% { background-color: #ef4444; color: white; }
    100% { background-color: #fee2e2; }
  }

  .atrasado {
    animation: pulse-atrasado 1.5s infinite;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground font-body; }
}